{% include 'lib/header.html' %}

            <div class="col-sm-12 p-4">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Translations</h6>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">English</th>
                                <th scope="col">Kurdish</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in translations[:10] %}
                            <tr>
                                <td>{{ item.english }}</td>
                                <td>{{ item.kurdish }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Sale & Revenue Start -->
            <div class="container-fluid px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="material-icons fa-3x text-primary">translate</i>
                            <div class="ms-3">
                                <p class="mb-2">Total Translations</p>
                                <h6 class="mb-0">{{ total_translations }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-database fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Database</p>
                                <h6 class="mb-0">{{ db_name }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-server fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Database Name</p>
                                <h6 class="mb-0">{{ database_name }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-folder fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Collection Name</p>
                                <h6 class="mb-0">{{ collection_name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->

            <!-- Footer Start -->
            {% include 'lib/footer.html' %}